<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLConnectionTester.Properties.Settings.ConnStr" connectionString="Server=localhost;Database=SomeDb;Integrated Security=true" />
    </connectionStrings>
</configuration>